.dashTopBar {
  background-color: #dbdbdb;
  padding: 1rem 2rem;
  display: flex;
  /*justify-content: space-between; /* logo left, links right */
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: 700;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 60px;
  margin-top: -1.99%;
}

.userLabel{
  text-align: right;
  margin-left: 73%;
}

.ticketChartTable{
  text-align: left;
  height: 420px;
  width: 960px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 10px;
}


.columnDashboard{
  background-color: #cacaca;
  padding: 20px;
  border-color: #b4b4b4;
  border-radius: 10px;
  flex-shrink: 0;
}

.topDashContainer{
  border-collapse: collapse;
}

.ticket-card{
  background-color: #ececec;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority{
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: bold;
  color: white
}

.priorityTicketColumn{
  width: 500px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 10px;
  display: block;
  margin-left: 12%;
}

.low{
  background-color: #ffdd00;
}

.moderate{
  background-color: #ff6a00;
}

.urgent{
  background-color: #ff3300;
}

.ticket-card:hover{
  background-color: #cecece;
  transform: scale(1.0);
  transition: 0.5s;
}


.innerDashContainer{
  border-collapse: collapse;
}

.dashDisplayExplanation{
  display: flex;
  align-items: flex-start;
}

.pfp{
  height: 50px;
  width: 50px;
}

.dashSecondRow{
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  table-layout: fixed;
}

.secondRow1, .secondRow2, .secondRow3 {
  border: solid 1px #d3d3d3;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  background-color: #ececec;
}

.runTimeChart{
  height: 300px;
  width: 600px;
  margin: auto;
}