.servicesTopContainer{
  background-color: rgb(202, 235, 255);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: -1.74%;
  /*margin-right: 50%;*/
  /*text-align: center;*/
  top: 40;
}

.servicesCaptionBold{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
}


.itManagementExplanation, .sustainableTechExplanation,
 .cybersecurityExplanation, .uxExplanation{
  font-family: arial, sans-serif;
  display: flex; 
  align-items: flex-start; 
  gap: 20px;
}

.itManagementText, .sustainableTechText,
 .cybersecurityText, .uxText{
  border: 1px solid #f5f5f5;
  text-align: left;
  padding: 8px;
  vertical-align: top;
  flex: 1;
}

.itManagementImage, .sustainableTechImage,
 .cybersecurityImage, uxImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.itImageContainer, .sustainableImageContainer,
 .cybersecurityImageContainer, .uxImageContainer{
  flex-shrink: 0;
}

.itManagementContainer, .sustainableTechContainer,
 .cybersecurityContainer, .uxContainer{
  border-collapse: collapse;
}

.horizontalLine{
  border-color: #f9f9f9;
}
